In [3]:
import pandas as pd
serenatto = pd.read_csv('https://raw.githubusercontent.com/carlosvinicius-ai/DataScience/refs/heads/master/BasesDeDados/exercicio/serenatto_2sem_2023.csv')
serenatto.head()

     id        data           produto  valor   metodo_pagamento
0  2720  2023-07-01  Risoto de Funghi   13.0   Cartão de Débito
1  2721  2023-07-02          Tiramisù   10.0   Cartão de Débito
2  2722  2023-07-02          Tiramisù   10.0  Cartão de Crédito
3  2723  2023-07-02       Ratatouille    8.5                PIX
4  2724  2023-07-03       Ratatouille    8.5           Dinheiro

In [4]:
soma_ratatouille = serenatto.query('produto == "Ratatouille"')['valor'].sum()
soma_ratatouille

323.0

In [5]:
frequencia_metodo_pagamento = serenatto.query("produto == 'Ratatouille'").metodo_pagamento.value_counts()
frequencia_metodo_pagamento

metodo_pagamento
PIX                  13
Cartão de Débito     10
Dinheiro              9
Cartão de Crédito     6
Name: count, dtype: int64

In [6]:
# filtrando linhas que são apenas do Tiramisu
serenatto.query('produto == "Tiramisù" ').head()

      id        data   produto  valor   metodo_pagamento
1   2721  2023-07-02  Tiramisù   10.0   Cartão de Débito
2   2722  2023-07-02  Tiramisù   10.0  Cartão de Crédito
15  2735  2023-07-06  Tiramisù   10.0  Cartão de Crédito
30  2750  2023-07-07  Tiramisù   10.0   Cartão de Débito
31  2751  2023-07-07  Tiramisù   10.0   Cartão de Débito

In [ ]:
# filtrando apenas onde o valor for 10 e o método não for dinheiro
serenatto.query('valor > 10 and metodo_pagamento != "Dinheiro" ')

       id        data           produto  valor   metodo_pagamento
0    2720  2023-07-01  Risoto de Funghi   13.0   Cartão de Débito
5    2725  2023-07-03    Salada Niçoise   11.0                PIX
7    2727  2023-07-04           Lasanha   11.5                PIX
8    2728  2023-07-04           Gnocchi   10.5                PIX
18   2738  2023-07-06    Salada Niçoise   11.0   Cartão de Débito
..    ...         ...               ...    ...                ...
822  3542  2023-12-26           Lasanha   11.5   Cartão de Débito
830  3550  2023-12-28           Lasanha   11.5                PIX
831  3551  2023-12-28           Lasanha   11.5                PIX
836  3556  2023-12-28    Salada Niçoise   11.0  Cartão de Crédito
854  3574  2023-12-31           Gnocchi   10.5   Cartão de Débito

[158 rows x 5 columns]