In [2]:
import pandas as pd
serenatto = pd.read_csv('https://raw.githubusercontent.com/carlosvinicius-ai/DataScience/refs/heads/master/BasesDeDados/exercicio/serenatto_2sem_2023.csv')
serenatto.head()

     id        data           produto  valor   metodo_pagamento
0  2720  2023-07-01  Risoto de Funghi   13.0   Cartão de Débito
1  2721  2023-07-02          Tiramisù   10.0   Cartão de Débito
2  2722  2023-07-02          Tiramisù   10.0  Cartão de Crédito
3  2723  2023-07-02       Ratatouille    8.5                PIX
4  2724  2023-07-03       Ratatouille    8.5           Dinheiro

In [6]:
soma_ratatouille = serenatto.query('produto == "Ratatouille"')['valor'].sum()
soma_ratatouille

323.0

In [11]:
frequencia_metodo_pagamento = serenatto.query("produto == 'Ratatouille'").metodo_pagamento.value_counts()
frequencia_metodo_pagamento

metodo_pagamento
PIX                  13
Cartão de Débito     10
Dinheiro              9
Cartão de Crédito     6
Name: count, dtype: int64